[submodule "Week1/Day2/git_tutorial_daniel"]
	path = Week1/Day2/git_tutorial_daniel
	url = https://github.com/daniel-avzaradel/git_tutorial_daniel.git
[submodule "Week1/Day3/My-CV"]
	path = Week1/Day3/My-CV
	url = https://github.com/daniel-avzaradel/curriculum-vitae-daniel.git
[submodule "Week1/Day2/Login-page"]
	path = Week1/Day2/Login-page
	url = https://github.com/daniel-avzaradel/login-page.git
[submodule "Week1/Day4/Exercise-XP-Gold"]
	path = Week1/Day4/Exercise-XP-Gold
	url = https://github.com/daniel-avzaradel/responsive-bootstrap-landing.git
[submodule "Week1/Day5/portfolio-setup"]
	path = Week1/Day5/portfolio-setup
	url = https://github.com/daniel-avzaradel/portfolio-setup.git
[submodule "Week2/Day1/Exercise-XP"]
	path = Week2/Day1/Exercise-XP
	url = https://github.com/daniel-avzaradel/week2-day1-xp.git
[submodule "Week1/Day5/daily-challenge-css-animation"]
	path = Week1/Day5/daily-challenge-css-animation
	url = https://github.com/daniel-avzaradel/daily-challenge-css-animation.git
[submodule "Week2/Day1/calculator-js"]
	path = Week2/Day1/calculator-js
	url = https://github.com/daniel-avzaradel/calculator-js.git
[submodule "Week2/Day2/exercise-xp-js"]
	path = Week2/Day2/exercise-xp-js
	url = https://github.com/daniel-avzaradel/exercise-xp-js.git
[submodule "Week2/Day2/daily-challenge-js-notbad"]
	path = Week2/Day2/daily-challenge-js-notbad
	url = https://github.com/daniel-avzaradel/daily-challenge-js-notbad.git
[submodule "Week2/Day1/daily-challenge-js-arrays"]
	path = Week2/Day1/daily-challenge-js-arrays
	url = https://github.com/daniel-avzaradel/daily-challenge-js-arrays
[submodule "Week2/Day3/exercise-xp-loops"]
	path = Week2/Day3/exercise-xp-loops
	url = https://github.com/daniel-avzaradel/exercise-xp-loops.git
[submodule "Week2/Day3/daily-challenge-stars-js"]
	path = Week2/Day3/daily-challenge-stars-js
	url = https://github.com/daniel-avzaradel/daily-challenge-stars-js.git
[submodule "Week2/Day3/exercise-xp-gold-loops"]
	path = Week2/Day3/exercise-xp-gold-loops
	url = https://github.com/daniel-avzaradel/exercise-xp-gold-loops.git
[submodule "Week2/Day4/exercise-xp-functions"]
	path = Week2/Day4/exercise-xp-functions
	url = https://github.com/daniel-avzaradel/exercise-xp-function.git
[submodule "Week2/Day4/daily-challenge-words-in-the-stars"]
	path = Week2/Day4/daily-challenge-words-in-the-stars
	url = https://github.com/daniel-avzaradel/daily-challenge-words-in-the-stars.git
[submodule "Week2/Day5/mini-project-play-the-game"]
	path = Week2/Day5/mini-project-play-the-game
	url = https://github.com/daniel-avzaradel/mini-project-play-the-game.git
[submodule "Week2/Day5/daily-challenge-99-bottles"]
	path = Week2/Day5/daily-challenge-99-bottles
	url = https://github.com/daniel-avzaradel/daily-challenge-99-bottles.git
[submodule "Week2/Day5/mini-project-hanging-game"]
	path = Week2/Day5/mini-project-hanging-game
	url = https://github.com/daniel-avzaradel/mini-project-hanging-game.git
[submodule "Week1/Day3/my-curriculum-vitae"]
	path = Week1/Day3/my-curriculum-vitae
	url = https://github.com/daniel-avzaradel/my-curriculum-vitae.git
[submodule "Week3/Day2/exercise-xp-dom"]
	path = Week3/Day2/exercise-xp-dom
	url = https://github.com/daniel-avzaradel/exercise-xp-dom.git
[submodule "Week3/Day2/daily-challenge-planets-dom"]
	path = Week3/Day2/daily-challenge-planets-dom
	url = https://github.com/daniel-avzaradel/daily-challenge-planets-dom.git
[submodule "Week1/Day5/portfolio"]
	path = Week1/Day5/portfolio
	url = https://github.com/daniel-avzaradel/portfolio.git
[submodule "Week3/Day3/exercise-xp-dom-events"]
	path = Week3/Day3/exercise-xp-dom-events
	url = https://github.com/daniel-avzaradel/exercise-xp-dom-events.git
[submodule "Week3/Day3/daily-challenge-mad-libs"]
	path = Week3/Day3/daily-challenge-mad-libs
	url = https://github.com/daniel-avzaradel/daily-challenge-mad-libs.git
[submodule "Week3/Day4/exercise-xp-dom-animations"]
	path = Week3/Day4/exercise-xp-dom-animations
	url = https://github.com/daniel-avzaradel/exercise-xp-dom-animations.git
[submodule "Week3/Day5/mini-project1-coloring-game"]
	path = Week3/Day5/mini-project1-coloring-game
	url = https://github.com/daniel-avzaradel/mini-project1-coloring-game.git
[submodule "Week3/Day2/exercise-xp-ninja-tip-calculator"]
	path = Week3/Day2/exercise-xp-ninja-tip-calculator
	url = https://github.com/daniel-avzaradel/tip-calculator.git
[submodule "Week3/Day2/xp-ninja-signup-double-slider"]
	path = Week3/Day2/xp-ninja-signup-double-slider
	url = https://github.com/daniel-avzaradel/xp-ninja-signup-double-slider.git
[submodule "Week3/Hackathon1"]
	path = Week3/Hackathon1
	url = https://github.com/daniel-avzaradel/ffxiv-party-generator.git
[submodule "Week4/Day1/exercise-xp-advjs-functions"]
	path = Week4/Day1/exercise-xp-advjs-functions
	url = https://github.com/daniel-avzaradel/exercise-xp-advjs-functions.git
[submodule "Week4/Day1/daily-challenge-go-wildcats"]
	path = Week4/Day1/daily-challenge-go-wildcats
	url = https://github.com/daniel-avzaradel/daily-challenge-go-wildcats.git
[submodule "Week3/Day4/mini-project1-coloring-game"]
	path = Week3/Day4/mini-project1-coloring-game
	url = https://github.com/daniel-avzaradel/mini-project1-coloring-game.git
[submodule "Week3/Day4/mini-project2-drum-kit"]
	path = Week3/Day4/mini-project2-drum-kit
	url = https://github.com/daniel-avzaradel/mini-project2-drum-kit.git
[submodule "Week4/Day3/exercise-xp-adv-arrays"]
	path = Week4/Day3/exercise-xp-adv-arrays
	url = https://github.com/daniel-avzaradel/exercise-xp-adv-arrays.git
[submodule "Week4/Day3/dc-w4d3-car-inventory"]
	path = Week4/Day3/dc-w4d3-car-inventory
	url = https://github.com/daniel-avzaradel/dc-w4d3-car-inventory.git
[submodule "Week4/Day4/dc-w4d4-creating-objects"]
	path = Week4/Day4/dc-w4d4-creating-objects
	url = https://github.com/daniel-avzaradel/dc-w4d4-creating-objects.git
[submodule "Week3/Day4/dc-w3d4-to-do-list"]
	path = Week3/Day4/dc-w3d4-to-do-list
	url = https://github.com/daniel-avzaradel/dc-w3d4-to-do-list.git
[submodule "Week4/Day5/mini-project1-robofriends"]
	path = Week4/Day5/mini-project1-robofriends
	url = https://github.com/daniel-avzaradel/mini-project1-robofriends.git
[submodule "Week4/Day5/dc-w4d5-anagrams"]
	path = Week4/Day5/dc-w4d5-anagrams
	url = https://github.com/daniel-avzaradel/dc-w4d5-anagrams.git
[submodule "Week4/Day2/daily-challenge-groceries"]
	path = Week4/Day2/daily-challenge-groceries
	url = https://github.com/daniel-avzaradel/daily-challenge-groceries.git
[submodule "Week5/Day1/dc-w5d1-form"]
	path = Week5/Day1/dc-w5d1-form
	url = https://github.com/daniel-avzaradel/dc-w5d1-form.git
[submodule "Week5/Day2/xp-ajax-giphy-api"]
	path = Week5/Day2/xp-ajax-giphy-api
	url = https://github.com/daniel-avzaradel/xp-ajax-giphy-api.git
[submodule "Week5/Day2/dc-w5d2-giphy-api"]
	path = Week5/Day2/dc-w5d2-giphy-api
	url = https://github.com/daniel-avzaradel/dc-w5d2-giphy-api.git
[submodule "Week5/Day3/xp-promises"]
	path = Week5/Day3/xp-promises
	url = https://github.com/daniel-avzaradel/xp-promises.git
[submodule "Week5/Day5/mini-project1-swapi"]
	path = Week5/Day5/mini-project1-swapi
	url = https://github.com/daniel-avzaradel/mini-project1-swapi.git
[submodule "Week5/Day5/dc-w5d5-currency-converter"]
	path = Week5/Day5/dc-w5d5-currency-converter
	url = https://github.com/daniel-avzaradel/cd-w5d5-currency-converter.git
