[submodule "Week1/Day2/git_tutorial_daniel"]
	path = Week1/Day2/git_tutorial_daniel
	url = https://github.com/daniel-avzaradel/git_tutorial_daniel.git
[submodule "Week1/Day3/My-CV"]
	path = Week1/Day3/My-CV
	url = https://github.com/daniel-avzaradel/curriculum-vitae-daniel.git
[submodule "Week1/Day2/Login-page"]
	path = Week1/Day2/Login-page
	url = https://github.com/daniel-avzaradel/login-page.git
[submodule "Week1/Day4/Exercise-XP-Gold"]
	path = Week1/Day4/Exercise-XP-Gold
	url = https://github.com/daniel-avzaradel/responsive-bootstrap-landing.git
[submodule "Week1/Day5/portfolio-setup"]
	path = Week1/Day5/portfolio-setup
	url = https://github.com/daniel-avzaradel/portfolio-setup.git
[submodule "Week2/Day1/Exercise-XP"]
	path = Week2/Day1/Exercise-XP
	url = https://github.com/daniel-avzaradel/week2-day1-xp.git
[submodule "Week1/Day5/daily-challenge-css-animation"]
	path = Week1/Day5/daily-challenge-css-animation
	url = https://github.com/daniel-avzaradel/daily-challenge-css-animation.git
[submodule "Week2/Day1/calculator-js"]
	path = Week2/Day1/calculator-js
	url = https://github.com/daniel-avzaradel/calculator-js.git
[submodule "Week2/Day2/exercise-xp-js"]
	path = Week2/Day2/exercise-xp-js
	url = https://github.com/daniel-avzaradel/exercise-xp-js.git
[submodule "Week2/Day2/daily-challenge-js-notbad"]
	path = Week2/Day2/daily-challenge-js-notbad
	url = https://github.com/daniel-avzaradel/daily-challenge-js-notbad.git
[submodule "Week2/Day1/daily-challenge-js-arrays"]
	path = Week2/Day1/daily-challenge-js-arrays
	url = https://github.com/daniel-avzaradel/daily-challenge-js-arrays
[submodule "Week2/Day3/exercise-xp-loops"]
	path = Week2/Day3/exercise-xp-loops
	url = https://github.com/daniel-avzaradel/exercise-xp-loops.git
[submodule "Week2/Day3/daily-challenge-stars-js"]
	path = Week2/Day3/daily-challenge-stars-js
	url = https://github.com/daniel-avzaradel/daily-challenge-stars-js.git
[submodule "Week2/Day3/exercise-xp-gold-loops"]
	path = Week2/Day3/exercise-xp-gold-loops
	url = https://github.com/daniel-avzaradel/exercise-xp-gold-loops.git
[submodule "Week2/Day4/exercise-xp-functions"]
	path = Week2/Day4/exercise-xp-functions
	url = https://github.com/daniel-avzaradel/exercise-xp-function.git
[submodule "Week2/Day4/daily-challenge-words-in-the-stars"]
	path = Week2/Day4/daily-challenge-words-in-the-stars
	url = https://github.com/daniel-avzaradel/daily-challenge-words-in-the-stars.git
[submodule "Week2/Day5/mini-project-play-the-game"]
	path = Week2/Day5/mini-project-play-the-game
	url = https://github.com/daniel-avzaradel/mini-project-play-the-game.git
[submodule "Week2/Day5/daily-challenge-99-bottles"]
	path = Week2/Day5/daily-challenge-99-bottles
	url = https://github.com/daniel-avzaradel/daily-challenge-99-bottles.git
[submodule "Week2/Day5/mini-project-hanging-game"]
	path = Week2/Day5/mini-project-hanging-game
	url = https://github.com/daniel-avzaradel/mini-project-hanging-game.git
