.title {
    text-align: center;
    margin-top: 25px;
}

.form {
    margin: auto;
    max-width: 80%;
    text-align: center;
}

input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

#edit-box {
    display: none;
    max-width: 80%;
    margin: auto;
    margin-top: 10px;
}

table {
    margin: auto;
    padding: 20px;
    text-align: center;
}

th, h3 {
    text-align:center;
}

td {
    background-color: aliceblue;
    padding-right: 10px;
    text-align: left;
    margin: auto;
}

.to-do {
    background-color: transparent !important;
    text-align: center;
    margin: auto;
}