.team-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: #ccc;
}


/* ===== POKEMON TEAM ===== */

.team {
    max-width: 640px;
    height: auto;
    background: rgb(102,102,102);
    background: linear-gradient(120deg, rgba(102,102,102,1) 0%, rgba(204,204,204,1) 74%, rgba(102,102,102,1) 100%);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 0 10px 10px rgba(0,0,0,0.4);
    margin: 10px;
}

.trainer {
    width: auto;
    text-align: left;
    display: flex;
    color: #333;
    background: rgb(208,74,98);
    background: linear-gradient(120deg, rgba(208,74,98,1) 0%, rgba(107,14,30,1) 100%);
    padding: 10px;
    border-radius: 6px 6px 0 0;
    border: 2px solid #333;
}

.trainer-stats {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    min-width: 60%;
}

.trainer-img {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.trainer-img img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border: 2px solid #333;
}

.pokemon-list {
    width: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #333;
    border-top: none;
    border-radius: 0 0 6px 6px;
}

.pokemon-li {
    width: auto;
    margin: 2px;
    border: none;
    display: flex;
    background: rgb(74,194,208);
    background: linear-gradient(180deg, rgba(74,194,208,1) 0%, rgba(14,91,107,1) 88%);
    border: 2px solid #333;
    border-radius: 20px;
}

.sprite img {
    width: 80px;
}

.pokemon-li-stats {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 6px;
}

.hp {
    display: flex;
    align-items: center;
    padding: 0 4px;
    border-radius: 10px;
    font-size: 14px;
}

.hp-bar {
    width: 60px;
    height: 8px;
    border: 2px solid #444;
    border-radius: 6px;
    background-color: rgb(118, 230, 118);
    margin-left: 10px;
}