* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #444;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

h1 {
    color: lightseagreen;
    margin: 10px;
}

p {
    margin: 10px;
}

form input {
    margin: 10px;
    padding: 2px 10px;
    outline: none;
    border: none;
}

button {
    border: none;
    padding: 4px 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: lightseagreen;
    color: #333;
    transition: 0.1s ease-in-out;
}

button:hover {
    color: white;
}