* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
}

/* ----- HEADER ----- */

header {
    background-color: #1D180E;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 14px 0px 12px rgba(0,0,0,0.6);
    box-sizing: border-box;
}

nav {
    margin: 0 20px;    
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 60px;
    align-items: center;
}

nav i {
    color: #ffca39;
    margin: 0 20px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    padding: 20px 40px;
    color: white;
    transition: 0.4s ease all;
}

nav ul li a:hover {
    background-color: #ffca39;
    color: #1D180E;
}


/* ----- BODY ----- */

main {
    display: flex;
    width: 100%;
    height: 91vh;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;    
    background-image: url(https://images.pexels.com/photos/1791/vintage-music-white-sound.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 60px;
}

h1 {
    font-size: 120px;
    display: block;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 3px solid black;
    width: 90%;
    height: 90%;
    padding: 40px;
}

.box {
    border: 1px solid white;
    flex: 20%;
    margin: 20px;
}

/* ----- FOOTER ----- */


footer {
    background-color: #FFCE6D;
    color:#1D180E;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
}
h4 {
    text-align: center;
    margin: 20px;
}